header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}
.logo{

    width: 100px;

}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
